#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;

	text-align: left;
}

#date-on-right {
	margin: 0;
	overflow: auto;
}

h1 {
	font-size: 45px;
	margin-bottom: -25px;
	text-align: center;
}

h4 {
	font-size: 22px;
	margin-bottom: -10px;
}

li {
	font-size: 18px;
	text-align: left;
}

#button {
	margin-left: 40%;
	margin-right: 40%;

	border-radius: 15px;
	height: 100px;
}
